*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}
@media (min-width:900px) and (max-width:2000px)  {
    body {
        height: 1000px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    header {
        width: 100%;
        height: 100%;
        background-color: black;
        
    }
    .edrs {
        width: 100%;
        height: 100px;
        background-color: black;
        display: flex;
        justify-content: space-around;
    }
    .lof1 {
        height: 100%;
        width: 200px;
        background: url(../image/BLA.jpg) 50% no-repeat;
        background-size: cover;
        filter: invert();
    }

    .lof2 {
        height: 100%;
        width: 60%;
        display: flex;
        align-items: center;

    }
    .lof2 input {
        width: 80%;
        height: 30px;
        border: none;
        border-radius: 100px;
        background-color: rgba(128, 128, 128, 0.212);
        padding-left: 25px;
    }
    .lof3{
        height: 100%;
        width: 20%;
        background-color: black;
        display: flex;
        align-items: center;
        
    }
    .lof3 img{
        height: 100%;
        width: 20%;
        background-color: white;
        filter: invert(100%) sepia(100%) saturate(10%) hue-rotate(181deg) brightness(100%) contrast(109%);
    }
    .dse {
        height: 100px;
        width: 100%;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        padding-left: 120px;
        
    }
    .edy {
        height: 1000px;
        background-color: black;
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
         margin-right: 20px;
         flex-direction: column;
    }
    
    .cote {
        height: 500px;
        background-color: black;
        width: 100%;
        display: flex;
        
        justify-content: center;

    }
    .cote h1 {
        background-color: transparent;
        color: white;
        font-weight: bolder;
        font-size: 2.5rem;
    }
    .cote1 {
        height: 400px;
        width: 400px;
        background: url(../image/fsd.jpg) 50% no-repeat;
        background-size: cover;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .cote2 {
        height: 400px;
        width: 400px;
        background: url(../image/suspect.jpeg) 50% no-repeat;
        background-size: cover;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .cote3 {
        height: 400px;
        width: 400px;
        margin-right: 20px;
        background: url(../image/mol.jpg) 50% no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .cote4 {
        height: 400px;
        width: 400px;
        background: url(../image/sesrh.jpg) 50% no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;

    }
    .dsyu {
        width: 60%;
    }
    .zaz {
        width: 40%;
    }
    
}
@media (max-width:900px) {
    header {
        display: none;
    }
    main {
        height: 1000px;
        width: 100%;
    }
    .hers {
        height: 150px;
        width: 100%;
        background: url(../image/BLA.jpg) 50% no-repeat;
        background-size: cover;
        filter: invert();
    }
    .jsuj {
        width: 200px;
        height: 200px;
        background: url(../image/mol.jpg) 50% no-repeat;
        background-size: cover;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .jsuj1 {
        width: 200px;
        height: 200px;
        background: url(../image/sesrh.jpg) 50% no-repeat;
        background-size: cover;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .jsuj2 {
        width: 200px;
        height: 200px;
        background: url(../image/tsr.jpg) 50% no-repeat;
        background-size: cover;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .jsuj3 {
        width: 200px;
        height: 200px;
        background: url(../image/fsd.jpg) 50% no-repeat;
        background-size: cover;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .pm {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pm input{
        height: 20px;
        width: 80%;
        background-color: rgba(128, 128, 128, 0.158);
        border: none;
        border-radius: 100px;
    }
}


