*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: 'Poppins', sans-serif;
  }
  a {
    text-decoration: none;
    color: white;
  }
  body {
      width: 100%;
      background-color: black;
  }
  @media (min-width:10px) and (max-width:2000px){
    body {
        width: 100%;
        height: 1200px;
        
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }
    
    header{
        display: none;
      }
    main{
        display: block;
        background-color: black;
        width: 98%;
        height: 100%;

    }
    .logo {
        width: 100%;
        height: 100px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imlog {
        height: 100%;
        width: 200px;
        background: url(../image/BLA.jpg) 50% no-repeat;
        background-size: 250px;
        filter: invert();
    }
    .logo2 {
        width: 100%;
        height: 70px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo2 input{
        height: 25px;
        width: 70%;
        border-radius: 40px;
        padding-left: 40px;
        background-color: rgba(128, 128, 128, 0.534);
        color: white;
        border: none;
    }
    
    .prof {
        height: 900px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .teab {
        height: 98%;
        width: 95%;
        background-color: black;

    }
    .texts {
        height: 50px;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: flex-start;
        font-size: 1.2rem;
        color: white;
        font-weight: bolder;
        align-items: center;
        padding-left: 20px;
        
    }
    .losq {
        height: 100px;
        width: 100px;
        background-color: rgb(114, 43, 43);
    }
    .text2 {
        height: 150px;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: flex-start;
        font-size: 1rem;
        color: white;
        font-weight: bolder;
        
    }
    .los1 {
        height: 100%;
        width: 40%;
        background-color: rgba(58, 58, 58, 0.26);
        display: flex;
        justify-content: center;
        padding-top: 20px;
        border-radius: 30px 0px 0px 30px;
        border: 2px solid white;
        

    }
    .sl {
        height: 100px;
        width: 100px;
        background: url(../image/mol.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 100%;


    }
    .los2 {
        height: 100%;
        width:60%;
        background-color: black;
        padding: 20px;
        
    }
    .testes {
        height: 600px;
        width: 100%;
        background-color: black;
    }
    
    .sosq {
        margin-bottom: 10px;
        height: 70px;
        width: 100%;
        background-color: black;
        display: flex;
    }
    .pos1 {
        height: 70px;
        width: 20%;
        background-color: black;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pqsez {
        height: 40px;
        width: 40px;
        background: url(../image/mol.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 100%;
    }
    .pos2 {
        height: 70px;
        width: 75%;
        background-color: rgba(34, 33, 33, 0.308);
        padding: 10px;
        margin-left: 10px;
        border-radius: 20px;
    }
    .logon {
        height: 50px;
        width: 100%;
        background-color: black;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logon img{
        padding-right: 20px;
        filter: invert();
    }
    .logon2 {
        height: 50px;
        width: 100%;
        background-color: black;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logon2 img{
        padding-right: 20px;
        filter: invert();
    }
}
  
@media (min-width:2000px){
    body {
        width: 100%;
        height: 1200px;
        
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }
    
    header{
        display: none;
      }
    main{
        display: block;
        background-color: black;
        width: 98%;
        height: 100%;

    }
    .logo {
        width: 100%;
        height: 100px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imlog {
        height: 100%;
        width: 200px;
        background: url(../image/BLA.jpg) 50% no-repeat;
        background-size: 250px;
        filter: invert();
    }
    .logo2 {
        width: 100%;
        height: 70px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo2 input{
        height: 25px;
        width: 70%;
        border-radius: 40px;
        padding-left: 40px;
        background-color: rgba(128, 128, 128, 0.534);
        color: white;
        border: none;
    }
    
    .prof {
        height: 900px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .teab {
        height: 98%;
        width: 95%;
        background-color: black;

    }
    .texts {
        height: 50px;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: flex-start;
        font-size: 1.2rem;
        color: white;
        font-weight: bolder;
        align-items: center;
        padding-left: 20px;
        
    }
    .losq {
        height: 100px;
        width: 100px;
        background-color: rgb(114, 43, 43);
    }
    .text2 {
        height: 150px;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: flex-start;
        font-size: 1rem;
        color: white;
        font-weight: bolder;
        
    }
    .los1 {
        height: 100%;
        width: 40%;
        background-color: rgba(58, 58, 58, 0.26);
        display: flex;
        justify-content: center;
        padding-top: 20px;
        border-radius: 30px 0px 0px 30px;
        border: 2px solid white;
        

    }
    .sl {
        height: 100px;
        width: 100px;
        background: url(../image/mol.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 100%;


    }
    .los2 {
        height: 100%;
        width:60%;
        background-color: black;
        padding: 20px;
        
    }
    .testes {
        height: 600px;
        width: 100%;
        background-color: black;
    }
    
    .sosq {
        margin-bottom: 10px;
        height: 70px;
        width: 100%;
        background-color: black;
        display: flex;
    }
    .pos1 {
        height: 70px;
        width: 20%;
        background-color: black;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pqsez {
        height: 40px;
        width: 40px;
        background: url(../image/mol.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 100%;
    }
    .pos2 {
        height: 70px;
        width: 75%;
        background-color: rgba(34, 33, 33, 0.308);
        padding: 10px;
        margin-left: 10px;
        border-radius: 20px;
    }
    .logon {
        height: 50px;
        width: 100%;
        background-color: black;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logon img{
        padding-right: 20px;
        filter: invert();
    }
    .logon2 {
        height: 50px;
        width: 100%;
        background-color: black;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logon2 img{
        padding-right: 20px;
        filter: invert();
    }
}