*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  body {
      width: 100%;
      overflow: hidden;
      background-color: white;
  }
  @media (min-width:10px) and (max-width:800px){
      
    a {
        text-decoration: none;
        color: white;
    }
      
    header {
        width: 100%;
        height: 2000px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dex2 {
        width: 100%;
        background-color: white;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 10px;

    }
    .mp {
        height: 450px;
        width: 340px;
        background-color: black;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 20px;
    }
    .hea {
        height: 7%;
        width: 25%;
        background: url(../image/BLA.jpg) 50% no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: 100px;
        filter: invert();
    }
    .hea2 {
        height: 50px;
        width: 100%;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .hea2 h2{
        color: white;
        font-size: 0.7rem;
        font-weight: bold;
    }
    .hea3 {
        margin-top: 20px;
        height: 10px;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        background-color: black;
    }

    .hea3 p {
        margin-bottom: 15px;
        font-size: 0.8rem;
        color: white;
        font-weight: bold;
        padding-right: 20px;
    }
    .hea4 {
        height: 30px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: end;
        padding-right: 20px;
        
    }
    .hea4 input {
        border-radius: 10px;
        border: 1px solid white;
        background-color: rgba(49, 48, 48, 0.199);
        width: 90%;
        color: white;
        padding-left: 10px;
    }
    .hea5 {
        margin-top: 20px;
        height: 10px;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        background-color: black;
        color: white;
    }
    .hea5 p {
        font-size: 0.7rem;
        padding-right: 20px;
    }
    .hea6{
        margin-top: 20px;
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
        background-color: black;
        color: white;
    }
    .hea6 h1 {
        font-size: 1rem;
        padding-bottom: 10px;
    }

    .hea7{
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
    }
    .hea7 li {
        font-size: 0.8rem;
        list-style-type: none;
        
    }
    .hea7 li a{
        padding: 10px;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 20px;
        
    }
    .hea7 li a:hover{
        padding: 10px;
        background-color: rgba(102, 100, 100, 0.075);
        border: 2px solid rgb(0, 0, 0);
        border-radius: 20px;
        color: white;
        font-weight: bolder;
        font-size: 1rem;
        
    }
    
}
  
  @media (min-width:800px) and (max-width:2000px){
      
      
      
      header {
          width: 100%;
          height: 2000px;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .dex2 {
          width: 100%;
          background-color: white;
          height: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          position: fixed;
          top: 10px;
  
      }
      .mp {
          height: 470px;
          width: 400px;
          background-color: black;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          padding: 20px;
      }
      
    
  }
  @media (min-width:2000px) {
       
    header {
        width: 100%;
        height: 3000px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dex2 {
        width: 100%;
        background-color: white;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 5%;

    }
    .mp {
        height: 1500px;
        width: 1000px;
        background-color: black;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 20px;
    }
      
      
      
      
  }
  