*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}

@media (min-width: 2700px){
    body {
        width: 100%;
        height: 800px;
        background-color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
    }
    li {
        list-style-type: none;
    }
    header {
        height: 95%;
        width: 95%;
        background-color: black;
    }
    .heade1 {
        height: 200px;
        width: 100%;
        background-color: black;
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .logo {
        width: 20%;
        background: url(../image/BLA.jpg) 50% no-repeat;
        filter: invert();
        background-size: cover;
        height: 100%;
    }
    .logo li a{
        padding-right: 600px;
        padding-bottom: 200px;
        margin: 40px;
       
        
    }
    .ser {
        width: 70%;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 20px;
        

    }
    .ser input{
        width: 70%;
        background-color: rgba(123, 129, 124, 0.336);
        height: 50%;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 60px;
        padding-left: 50px;
        
    }
    .profil {
        width: 10%;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .profil img{
        height: 70px;
    }
    .heade2 {
        height: 500px;
        width: 100%;
        background-color: black;
    
    }
    .heade2-1 {
        height: 50px;
        width: 20px;
        display: flex;
        align-items: end;
        margin-left: 100px;
        color: white;
    }
    .heade2-1 h2{
        font-size: 2rem;
    }
    .headee {
        visibility: visible;
        height: 650px;
        background-color: black;
        display: flex;
        margin-top: 120px;
    }
    .headee a{
        height: 400px;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 10px;
        background-color: black;
    
    }
    .heade2-2 {
        height: 600px;
        background-color: black;
        display: flex;

    }
    .heade2-2 a{
        height: 400px;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 10px;
        background-color: black;
    
    }
    .headee2 {
        visibility: visible;
        height: 650px;
        background-color: black;
        display: flex;
        margin-top: 120px;
    }
    .headee2 a{
        height: 400px;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 10px;
        background-color: black;
    
    }
    .heade2-22 {
        height: 600px;
        background-color: black;
        display: flex;
        margin-top: 80px;
    }
    .heade2-22 a{
        height: 400px;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 10px;
        background-color: black;
    
    }
    
    .carre1 {
        width: 90%;
        height: 100%;
        background: url(../image/didi36.png) 50% no-repeat;
        background-size: cover;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    .carre3 {
        width: 90%;
        height: 100%;
        background: url(../image/plm.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    .carre4 {
        width: 90%;
        height: 100%;
        background: url(../image/sesrh.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    .carre6 {
        width: 90%;
        height: 100%;
        background: url(../image/mol.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    .carre5 {
        width: 90%;
        height: 70%;
        background-color: rgba(255, 255, 255, 0.205);
        padding-left: 10px;
        padding-top: 10px;
        margin-bottom: 10px;
        color: white;
        border-radius: 20px;
        background: url(../image/fsf.png) 50% no-repeat;
        background-size: cover;

    }
    .carre2  h6{
        font-size: 2rem;
        color: white;
    }
    .carre2  h5{
        font-size: 3.5rem;
        color: white;
    }
    .carre2  p{
        font-size: 1.3rem;
        color: rgb(134, 129, 129);
    }
    .carre2 {
        height: 250px;
        width: 90%;
        background-color: rgba(29, 28, 28, 0.274);
        border-radius: 20px;
        padding: 20px 40px;
    }
    .carre {
        /* height: 100%;
        width: 20%; */
        height: 70px;
        width: 40px;
        background-color: black;
        background-size: cover;
        margin-left: 10px;
        display: flex;
        align-items: center;
        color: white;
        display: none;
    }
}



@media (min-width: 1030px) and (max-width: 2700px){
    body {
        width: 100%;
        height: 800px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
    }
    li {
        list-style-type: none;
    }
    header {
        height: 95%;
        width: 95%;
        background-color: black;
    }
    .heade1 {
        height: 60px;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        margin-bottom: 50px;
    }
    .logo {
        width: 20%;
        background: url(../image/BLA.jpg) 50% no-repeat ;
        filter: invert();
        background-size: cover;
        height: 100%;
    }
    .logo li a{
        padding-right: 150px;
        padding-bottom: 30px;
        margin: 40px;
        
    }
    .ser {
        width: 70%;
        background-color:  black;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .ser input{
        width: 70%;
        background-color: rgba(123, 129, 124, 0.336);
        height: 50%;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 10px;
        padding-left: 10px;
    }
    .profil {
        width: 10%;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .heade2 {
        height: auto;
        width: 100%;
        background-color: black;
        
    }
    .heade2-1 {
        height: 50px;
        width: 20px;
        display: flex;
        align-items: end;
        margin-left: 100px;
        color: white;
    }
    .heade2-1 h2{
        font-size: 0.8rem;
    }
    .headee2 {
        visibility: visible;
        height: 150px;
        background-color: black;
        display: flex;
        margin-top: 120px;
    }
    .headee2 a{
        height: 150px;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 10px;
        background-color: black;
    
    }
    .headee {
        visibility: visible;
        height: 150px;
        background-color: black;
        display: flex;
        margin-top: 120px;
    }
    .headee a{
        height: 150px;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 10px;
        background-color: black;
    
    }
    .heade2-22 {
        height: 150px;
        background-color: black;
        display: flex;
        margin-top: 130px;

    }
    .heade2-22 a{
        height: 150px;
        width: 100%;
        
        margin-top: 30px;
        margin-bottom: 10px;
        background-color: black;
    
    }
    .heade2-2 {
        height: 150px;
        background-color: black;
        display: flex;

    }
    .heade2-2 a{
        height: 150px;
        width: 100%;
        
        margin-top: 30px;
        margin-bottom: 10px;
        background-color: black;
    
    }
    .carre1 {
        width: 90%;
        height: 100%;
        background: url(../image/didi36.png) 50% no-repeat;
        background-size: cover;
        border-radius: 5px;
    }
   
    
    .carre3 {
        width: 90%;
        height: 100%;
        background: url(../image/mol.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 5px;
    }
    .carre4 {
        width: 90%;
        height: 100%;
        background: url(../image/pja.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 5px;
    }
    .carre6 {
        width: 90%;
        height: 100%;
        background: url(../image/sesrh.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 5px;
    }
    .carre5 {
        width: 90%;
        height: 100%;
        background: url(../image/fsf.png) 50% no-repeat;
        background-size: cover;
        border-radius: 5px;
    }
    .carre2 {
        width: 90%;
        height: 70%;
        background-color: rgba(255, 255, 255, 0.034);
        padding-left: 10px;
        padding-top: 10px;
        color: white;
        border-radius: 5px;

    }
    .carre2  h5{
        font-size: 1.5rem;
    }
    .carre2  p{
        font-size: 0.5rem;
        color: rgb(192, 182, 182);
    }
    .carre {
        /* height: 100%;
        width: 20%; */
        height: 70px;
        width: 40px;
        background-color: black;
        background-size: cover;
        margin-left: 10px;
        display: flex;
        align-items: center;
        color: white;
        display: none;
    }
}



@media (min-width:10px) and (max-width:600px){
    body {
        width: 100%;
        height: 800px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
    }
    
    header {
        height: 95%;
        width: 95%;
        background-color: black;
    }
    .heade1 {
        height: 50px;
        width: 100%;
        background-color: black;
        display: flex;
    }
    .logo {
        width: 30%;
        background: url(../image/BLA.jpg) 50% no-repeat;
        filter: invert();
        background-size: cover;
        height: 100%;
    }
    .logo li a{
        padding-right: 150px;
        padding-bottom: 30px;
        margin: 40px;
        
    }
    .ser {
        width: 50%;
        background-color:  black;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .ser input{
        width: 100%;
        background-color: rgba(123, 129, 124, 0.336);
        height: 40%;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 10px;
        padding-left: 10px;
    }
    .profil {
        width: 20%;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .heade2 {
        height: auto;
        width: 100%;
        background-color: black;

    }
    .heade2-1 {
        height: 50px;
        width: 20px;
        display: flex;
        align-items: end;;
        margin-left: 10px;
        color: white;
    }
    .heade2-1 h2{
        font-size: 0.8rem;
    }
    .headee{
        height: auto;
        background-color: black;
        margin-top: 10px;
    }
    .headee2{
        height: auto;
        background-color: black;
        margin-top: 10px;
        display: none;
    }
    .heade2-2 {
        height: auto;
        background-color: black;
        margin-top: 30px;

    }
    .heade2-22 {
        height: auto;
        background-color: black;
        margin-top: 30px;
        display: none;
    }
    .headee a{
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: black;
        margin-bottom: 10px;
    
    }
    .headee2 a{
        height: 80px;
        width: 100%;
        display: none;
        justify-content: flex-start;
        align-items: center;
        background-color: black;
        margin-bottom: 10px;
    
    }
    .headee2 a .carre2{
        height: 80px;
        width: 100%;
        display: none;
        justify-content: flex-start;
        align-items: center;
        background-color: black;
        margin-bottom: 10px;
    
    }
    .heade2-2 a{
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: black;
        margin-bottom: 10px;
    
    }
    .heade2-22 a{
        height: 80px;
        width: 100%;
        display: none;
        justify-content: flex-start;
        align-items: center;
        background-color: black;
        margin-bottom: 10px;
    
    }
    .heade2-22 a .carre2{
        height: 80px;
        width: 100%;
        display: none;
        justify-content: flex-start;
        align-items: center;
        background-color: black;
        margin-bottom: 10px;
    
    }
    .carre1 {
        width: 24%;
        height: 100%;
        background: url(../image/didi36.png) 50% no-repeat;
        background-size: cover;
        border-radius: 100%;
        margin-right: 5px;
    }
    .carre6 {
        width: 24%;
        height: 100%;
        background: url(../image/mol.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 100%;
        margin-right: 5px;
    }
    .carre3 {
        width: 24%;
        height: 100%;
        background: url(../image/sesrh.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 100%;
        margin-right: 5px;
    }
    .carre4 {
        width: 24%;
        height: 100%;
        background: url(../image/plm.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 100%;
        margin-right: 5px;
    }
    .carre5 {
        width: 24%;
        height: 100%;
        background: url(../image/mol.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 100%;
        margin-right: 5px;
    }
    .carre2 {
        width: 70%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.034);
        padding-left: 20px;
        color: white;
        border-radius: 5px;
    }
    .carre2  h5{
        font-size: 1.5rem;
    }
    .carre2  p{
        font-size: 0.5rem;
        color: rgb(192, 182, 182);
        
    }
    .carre {
        /* height: 100%;
        width: 20%; */
        height: 70px;
        width: 40px;
        background-color: black;
        background-size: cover;
        margin-left: 10px;
        display: flex;
        align-items: center;
        color: white;

    }
}



@media (min-width:600px) and (max-width:1029px){
    body {
        width: 100%;
        height: 800px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
    }
    header {
        height: 95%;
        width: 95%;
        background-color: black;
    }
    .heade1 {
        height: 50px;
        width: 100%;
        background-color: black;
        display: flex;
    }
    .logo {
        width: 20%;
        background: url(../image/BLA.jpg) 50% no-repeat;
        filter: invert();
        background-size: cover;
        height: 100%;
    }
    .logo li a{
        padding-right: 150px;
        padding-bottom: 30px;
        margin: 40px;
        
    }
    .ser {
        width: 70%;
        background-color:  black;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .ser input{
        width: 70%;
        background-color: rgba(123, 129, 124, 0.336);
        height: 50%;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 10px;
        padding-left: 10px;
    }
    .profil {
        width: 10%;
        background-color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    
    .heade2 {
        height: auto;
        width: 100%;
        background-color: black;

    }
    .heade2-1 {
        height: 50px;
        width: 20px;
        display: flex;
        align-items: end;
        margin-left: 100px;
        color: white;
    }
    .heade2-1 h2{
        font-size: 0.8rem;
    }
    .headee {
        height: 150px;
        background-color: black;
        margin-top: 600px;
    }
    .headee2 {
        height: 150px;
        background-color: black;
        margin-top: 600px;
        display: none;
    }
    .headee a{
        height: 110px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    
    }
    .heade2-2 {
        height: 150px;
        background-color: black;
        margin-top: 20px;
    }
    .heade2-22 {
        height: 150px;
        background-color: black;
        margin-top: 20px;
        display: none;
    }
    .heade2-2 a{
        height: 110px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    
    }
    .carre1 {
        width: 24%;
        height: 100%;
        background: url(../image/didi36.png) 50% no-repeat;
        background-size: cover;
        border-radius: 5px;
    }
    
    .carre3 {
        width: 24%;
        height: 100%;
        background: url(../image/sesrh.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 5px;
    }
    .carre4 {
        width: 24%;
        height: 100%;
        background: url(../image/mol.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 5px;
    }
    .carre6 {
        width: 24%;
        height: 100%;
        background: url(../image/sesrh.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 5px;
    }
    .carre5 {
        width: 24%;
        height: 100%;
        background: url(../image/fsd.jpg) 50% no-repeat;
        background-size: cover;
        border-radius: 5px;
    }
    .carre2 {
        width: 70%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.034);
        padding-left: 20px;
        color: white;
        border-radius: 5px;
    }
    .carre2  h5{
        font-size: 1.5rem;
    }
    .carre2  p{
        font-size: 0.5rem;
        color: rgb(192, 182, 182);
        padding-top: 2px;
        padding-bottom: 10px;
    }
    .carre {
        /* height: 100%;
        width: 20%; */
        height: 70px;
        width: 40px;
        background-color: black;
        background-size: cover;
        margin-left: 10px;
        display: flex;
        align-items: center;
        color: white;

    }
}